.Axes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 3.2rem 1.6rem 1.6rem;
}

.Axis {
  flex: 1;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  min-width: 16rem;
  padding: 0.8rem 1.6rem;
}