@import '../../styles/abstracts/mixins';
@import '../../styles/base/variables';

.navbar {
  display: flex;
  align-items: center;
  padding: 1.6rem 3.2rem;
  height: 72px;
  width: 100%;
  z-index: 10;
  transition: box-shadow .2s linear;
  background-color: $background-color-light;
}

.navbarRight {
  display: flex;
}

.navbarLeft {
  flex: 1;
  display: flex;
  align-items: center;

  & > p {
    margin-left: 1.6rem;
    padding: 0.8rem;
  }
}

.navbarMenu {
  display: none;
}

.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: $box-shadow;
}

@include respond(tab-port) {
  .navbarRight {
    display: none;
  }
  .navbarMenu {
    display: block;
  }
}

.navBtn {
  height: 4rem;
  min-width: 5.6rem;
  padding: 0 1.6rem;
  margin: 0 0.4rem;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration-line: none;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navBtn:focus, .navBtn:active {
  outline: none;
}

.navBtn:hover {
  background-color: lighten($color-secondary-light, 25%);
}

.navBtn:active {
  background-color: lighten($color-secondary-light, 20%);
}

.navBtnLink,
.navBtnOutline,
.navBtn:visited {
  color: $color-secondary;
}

.navBtnOutline {
  border: 1px solid $color-secondary;
}