@import '../../styles/abstracts/mixins';

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 8%;
  min-height: calc(100vh - 72px);
}

@include respond(tab-land) {
  .hero {
    margin: 0 4%;
  }
}

@include respond(tab-port) {
  .hero {
    margin: 0;
  }
}

.heroMain {
  flex: 1 1 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 72px);
}

.heroMain__logo {
  width: 400px;
  height: 231px;
  margin-bottom: 4.8rem;
}

@include respond(big-desktop) {
  .heroMain__logo {
    width: 560px;
    height: 323px;
  }
}

@include respond(tab-land) {
  .heroMain__logo {
    width: 340px;
    height: 193px;
  }
}

@include respond(tab-port) {
  .heroMain__logo {
    margin-top: -7.2rem;
    width: 444px;
    height: 256px;
  }
}

@include respond(phone) {
  .heroMain__logo {
    margin-top: -7.2rem;
    width: 300px;
    height: 173px;
  }
}

@include respond(phone-land) {
  .heroMain__logo {
    width: 240px;
    height: 138px;
  }
}

.heroArt {
  flex: 2 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 72px);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.heroArt__img {
  width: 758px;
  height: 482px;
}

@include respond(big-desktop) {
  .heroArt__img {
    width: 900px;
    height: 572px;
  }
}

@include respond(tab-land) {
  .heroArt__img {
    width: 580px;
    height: 368px;
  }
}

@include respond(tab-port) {
  .hero {
    flex-flow: column;
    background-image: url(/art-pattern-mobile_768x127.png);
    background-repeat: no-repeat;
    background-position: bottom;
  }
  .heroMain {
    flex: 1 0 auto;
  }
  .heroArt {
    display: none;
  }
}

@include respond(tab-mini-land) {
  .heroMain {
    padding-top: 4.8rem;
  }
}

@include respond(phone-land) {
  .hero {
    background-image: unset;
  }
  .heroMain__logo {
    width: 240px;
    height: 138px;
  }
}