@import '../../styles/base/variables';
@import '../../styles/abstracts/mixins';

.section {
  display: flex;
  flex-flow: column;
  padding: 8rem 8%;
}

.sectionPalette__default {
  background-color: $background-color;
}

.sectionPalette__light {
  background-color: $background-color-light;
}

.sectionPalette__dark {
  background-color: $background-color-dark;
}

.sectionPalette__secondary {
  background-color: $color-secondary;
}

@include respond(tab-land) {
  .section {
    padding: 4rem 4%;
  }
}

@include respond(tab-port) {
  .section {
    padding: 8rem 0;
  }
}

.sectionHeadline {
  flex: 0 1 0;
  display: flex;
  justify-content: center;
}

.sectionHeadline > h1 {
  border-bottom: 0.6rem solid $color-secondary;
}

.sectionAttached {
  padding-top: 0;
}