@import '../../../styles/base/variables';

.navBtn {
  height: 4rem;
  min-width: 5.6rem;
  padding: 0 1.6rem;
  margin: 0 0.4rem;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration-line: none;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navBtn:focus, .navBtn:active {
  outline: none;
}

.navBtn:hover {
  background-color: lighten($color-secondary-light, 25%);
}

.navBtn:active {
  background-color: lighten($color-secondary-light, 20%);
}

.navBtnLink,
.navBtnOutline,
.navBtn:visited {
  color: $color-secondary;
}

.navBtnOutline {
  border: 1px solid $color-secondary;
}

.navBtn.navBtnRaised,
.navBtnRaised {
  background-color: $color-secondary;
  color: $font-color;
  box-shadow: $box-shadow;

  &:hover {
    background-color: darken($color-secondary, 5%);
  }
  
  &:active {
    background-color: darken($color-secondary, 10%);
    box-shadow: $box-shadow-sm;
  }
}

.navBtnLg {
  height: 4.2rem;
  padding: 0.4rem 3.2rem;
}
