@import '../styles/base/variables';

.main {
  display: flex;
  flex-flow: column;
}

.footer {
  width: 100%;
  min-height: 48rem;
  background-color: $background-color-dark;
  color: $font-color-light;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}